.aanbiedingtekst div.bg {
	position:relative;
	z-index:1;
	float:right;
	/*top:-30px;
	padding-top:30px;*/
}
.aanbiedingtekst div.tekst {
	padding:15px;

}
.aanbiedingtekst {
	position:relative;
	z-index:4;
	color:#404040;
}
.modfooter {
	padding:10px 15px;
	color:#404040;
	background: #e4e4e4; /* fallback */
	background: -webkit-gradient(linear,  top,  bottom, from(#f2f2f2), to(#dcdcdc));
	background: -webkit-linear-gradient(top, #f2f2f2, #dcdcdc);
	background: -moz-linear-gradient(top, #f2f2f2, #dcdcdc);
	background: -ms-linear-gradient(top, #f2f2f2, #dcdcdc); 
	background: -o-linear-gradient(top, #f2f2f2, #dcdcdc);
	background: linear-gradient(top, #f2f2f2, #dcdcdc); 
}