
#headerimage {
	/*background-position:contain;*/
	margin:auto;
	width: 100%;
	vertical-align: top;
	background-position: 50% 100%;
	background-repeat: no-repeat;
}

div.tekstregels {
	position: relative;
	padding: 10px; 
	font-size: 16px; 
	font-weight: 700;
}

div.tekstregel1 {
	float: right;
	margin: 85px 100px 0 0;
	background: #3498db; 
	color: #fff; 
}
div.tekstregel2 {
	clear: right;
	float: right;
	margin: 10px 30px 0 0;
	background: #f29400; 
	color: #fff;
}
